.footer__column-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal; /* edited */
  background-image: linear-gradient(white, white);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0px;
  transition: background-size .5s,  color  .5s;
  transition-timing-function: ease-in-out;

} .footer__column-link:hover {
  background-size: 100% 100%;
  color: black;
}
